/* 
path: assets/styles/_colors.scss
description: Listed colors using in UI design. 
*/

$text-gray: #979797;
$text-placeholder-gray: #94A3B8;
$text-black: #030303;
$text-error: #ef4444;

$background-white: #FFFFFF;
$background-gray: #F2F2F2;
$background-orange: #FF784B;

$border-gray: #979797;
